@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy_Medium";
  src: url("./src/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy_Bold";
  src: url("./src/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: url("./src/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

/*
This is the CSS for shimmer UI component for restaurant menu
*/

.shimmer-menu-container {
  width: 100%;
  height: 90vh;
  margin-top: 50px;
}

.shimmer-menu-box {
  width: 50%;
  margin: 20px auto;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.box {
  height: 200px;
  width: 200px;
  background-color: #f0f0f0;
}

.shimmer-line {
  height: 7px;
  width: 112px;
  background-color: #f0f0f0;
  margin-top: 11px;
}

.shimmer-line-2 {
  width: 54px;
}

.font-family-bold {
  font-family: Gilroy_Bold, sans-serif;
}

.font-family {
  font-family: Gilroy_Medium, sans-serif;
}

.font-family-regular {
  font-family: Gilroy, sans-serif;
}

/*
This is the CSS for restaurant menu component
*/

.main-menu-component {
  max-width: 805px;
  min-height: 800px;
  margin: 40px auto 0;
}

.res-heading {
  font-size: 24px;
  margin-bottom: 18px;
}

.res-info-container {
  background: linear-gradient(
    rgb(255, 255, 255) -6.71%,
    rgb(235, 235, 242) 56.19%,
    rgb(223, 223, 231) 106.56%
  );
  padding: 0px 16px 16px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  font-size: 14px;
}

.res-info {
  border-radius: 20px;
  border: 1px solid rgba(2, 6, 12, 0.15);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0;
  padding: 18px;
}

.star-img {
  height: 15px;
}

.res-rating {
  font-family: Gilroy_Medium;
  font-weight: bolder;
  display: flex;
  font-size: 16px;
}

.res-info-items {
  margin-right: 5px;
}

.res-info-cuisines {
  color: #ff5200;
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: -0.1px;
}

.res-discounts-main-container {
  margin: 34px 0;
}

/*
overflow-x: auto --> If the content exceeds the container's width (e.g., if there are more items than can fit in a single row), a horizontal scrollbar will appear, allowing users to scroll to see the additional items.
*/
.res-discounts-container {
  display: flex;
  margin-top: 10px;
  overflow-x: auto;
}

.res-discounts-container::-webkit-scrollbar {
  height: 8px;
}

.res-discounts-heading {
  font-size: 20px;
  letter-spacing: -0.3px;
}

/*
flex: 0 0 aut0 --> 1. items will not grow, 2. items will not shrink, 3. Will keep the initial width
*/
.res-discounts-card {
  flex: 0 0 auto;
  width: 328px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgba(2, 6, 12, 0.15);
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 0 16px 0 0;
}

.show-offer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.coupon-description {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.3px;
  margin-bottom: 1px;
}

.coupon-name {
  color: rgba(2, 6, 12, 0.45);
  font-size: 14px;
  letter-spacing: -0.3px;
}

.menu-heading {
  color: #02060c99;
  font-family: Gilroy;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 4px;
  text-align: center;
  margin: 47px 0;
}

.search-input-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 47px;
}

.search-menu-input {
  height: 48px;
  width: 100%;
  border-radius: 12px;
  background: rgba(2, 6, 12, 0.05);
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  font-family: "Gilroy";
  outline: none;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: relative;
  right: 34px;
  cursor: pointer;
}

.separator {
  border-top: 16px solid rgba(2, 6, 12, 0.05);
}

/*
This is the CSS for MenuItem component
*/

.menu-item {
  display: flex;
  justify-content: space-between;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.item-name {
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
}

.item-price {
  font-family: Gilroy_Medium;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
}

.item-rating {
  display: flex;
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.1px;
  color: rgb(17, 102, 73);
}

.item-image-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-add-btn {
  border: 1px solid #f0f0f0;
  width: 120px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  height: 36px;
  text-align: center;
  margin-top: 5px;
}

.item-btn-text {
  font-family: "Gilroy_Bold";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(27, 166, 114);
}

.line-separator {
  border-bottom: 0.5px solid #d3d3d3;
  margin: 20px 0;
}

/*
Css for User component
*/
.user-card {
  font-family: "Gilroy_Medium";
  margin-top: 30px;
  border: 1px solid black;
  padding: 17px;
  display: flex;
  width: max-content;
  justify-content: space-between;
}

.user-card-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  word-break: break-all;
}

.user-card img {
  max-width: 100px;
  height: 100%;
  border-radius: 5px;
}

/*
This is the CSS for Offline Container
*/

.offline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin: 60px 0;
}

.oops-message {
  font-family: "Gilroy_Bold";
  font-size: 39px;
}

.retry-message {
  font-family: "Gilroy_Medium";
  font-size: 18px;
}

/*
This is the CSS for error component
*/

.error-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.error-ele {
  font-family: "Gilroy_Medium";
}
