@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy_Medium";
  src: url("./src/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy_Bold";
  src: url("./src/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: url("./src/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

/*
Css for User component
*/
.user-card {
  font-family: "Gilroy_Medium";
  margin-top: 30px;
  border: 1px solid black;
  padding: 17px;
  display: flex;
  width: max-content;
  justify-content: space-between;
}

.user-card-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  word-break: break-all;
}

.user-card img {
  max-width: 100px;
  height: 100%;
  border-radius: 5px;
}

/*
This is the CSS for Offline Container
*/

.offline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin: 60px 0;
}

.oops-message {
  font-family: "Gilroy_Bold";
  font-size: 39px;
}

.retry-message {
  font-family: "Gilroy_Medium";
  font-size: 18px;
}

/*
This is the CSS for error component
*/

.error-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.error-ele {
  font-family: "Gilroy_Medium";
}
