* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
  height: 105px;
}

.logo-container {
  margin: 0px 50px;
}

.logo {
  width: 100px;
}

.nav-items {
  margin: 0px 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-items ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items > ul > li {
  color: #3d4152;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.nav-items ul li:hover {
  font-weight: bold;
}

.nav-items ul li a {
  color: #3d4152;
  text-decoration: none;
}

.body {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.search {
  margin: 10px;
}

.search-box {
  border-radius: 6px;
  border-color: #f0f0f0;
  padding: 6px 12px;
  outline: none;
}

.search-btn {
  height: 31px;
  width: 64px;
  margin-left: 16px;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px 123px;
}

.res-card {
  width: 238px;
  padding: 10px;
}

.res-card:hover {
  border: 0.5px solid grey;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 24px;
}

.res-name {
  color: rgba(2, 6, 12, 0.92);
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
}

.res-cuisines {
  font-family: Gilroy;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
}

.rating {
  height: 17px;
}

.margin {
  margin: 4px 0px;
}

.margin-b {
  margin-bottom: 8px;
}

.filter-btn {
  margin: 10px;
  padding: 6px;
  cursor: pointer;
}

.loader-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shimmer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 80px 123px;
  padding: 20px;
  margin-top: 20px;
}

.shimmer-card {
  height: 200px;
  width: 238px;
  background-color: #f0f0f0;
}

.login-btn {
  cursor: pointer;
  height: 31px;
  margin-top: 11px;
}

.main-block {
  font-family: "Gilroy", sans-serif;
  width: 73vw;
  margin: 40px auto;
}

.heading-block {
  color: #222222;
  font-weight: 700;
  margin-bottom: 17px;
}

.content-block {
  color: #8d8f91;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
}

.no-result {
  margin: 100px 10px;
  font-size: x-large;
}
